In [136]:
import quandl
import pandas as pd
import numpy as np



quandl.ApiConfig.api_key = 'JxpNhfJF_ssPsQs_7fJu'

In [137]:
FZips = pd.read_csv('input/Fulton Zips.csv',header=0)

In [138]:
FZips

    Zip Codes
0       30004
1       30005
2       30009
3       30022
4       30075
5       30076
6       30097
7       30213
8       30268
9       30291
10      30303
11      30305
12      30306
13      30308
14      30309
15      30310
16      30311
17      30312
18      30313
19      30314
20      30315
21      30315
22      30318
23      30324
24      30327
25      30328
26      30331
27      30336
28      30337
29      30342
30      30344
31      30349
32      30350
33      30354

In [160]:
InputCodes = pd.read_csv('input/Clean Zillow Codes.csv',header=0)

In [161]:
Codes=InputCodes["Code"]
Category=InputCodes["Name"]

In [139]:
# Median Rental Price Per Square Foot
# ONLY RUN FOR RENTAL INFO   
Codes=["_MRPF1B",
"_MRPF2B",
"_MRPF3B",
"_MRPF4B",
"_MRPF5B",
"_MRPFAH",
"_MRPFMF",
"_MRPFSF",
"_MRPFST"]

In [149]:
# Median Listing Price Per Square Foot
# ONLY RUN WHEN LOOKING AT LISTING PRICE INFO
Codes=["_MLPF1B",
"_MLPF2B",
"_MLPF3B",
"_MLPF4B",
"_MLPF5B",
"_MLPFAH",
"_MLPFMF",
"_MLPFSF",
"_MLPFST"]

In [140]:
# Category Descriptors
Category=["One Bedroom",
"Two Bedrooms",
"Three Bedrooms",
"Four Bedrooms",
"Five or More Bedrooms",          
"All Homes",
"Multi-Family Residence",
"Single-Family Residence",
"Studio"]

In [141]:
Category

['One Bedroom',
 'Two Bedrooms',
 'Three Bedrooms',
 'Four Bedrooms',
 'Five or More Bedrooms',
 'All Homes',
 'Multi-Family Residence',
 'Single-Family Residence',
 'Studio']

In [142]:
#TEST ONLY

ZC="30004"

for item in Codes:
    this_code="ZILLOW/Z"+ZC+item
    #temp = quandl.get(this_code)
    #final = temp['Value'].size
    #test = temp.Value[temp['Value'].size-1]
    #test
    print(this_code)

ZILLOW/Z30004_MRPF1B
ZILLOW/Z30004_MRPF2B
ZILLOW/Z30004_MRPF3B
ZILLOW/Z30004_MRPF4B
ZILLOW/Z30004_MRPF5B
ZILLOW/Z30004_MRPFAH
ZILLOW/Z30004_MRPFMF
ZILLOW/Z30004_MRPFSF
ZILLOW/Z30004_MRPFST

In [143]:
ZipList=FZips["Zip Codes"]
ZipList

0     30004
1     30005
2     30009
3     30022
4     30075
5     30076
6     30097
7     30213
8     30268
9     30291
10    30303
11    30305
12    30306
13    30308
14    30309
15    30310
16    30311
17    30312
18    30313
19    30314
20    30315
21    30315
22    30318
23    30324
24    30327
25    30328
26    30331
27    30336
28    30337
29    30342
30    30344
31    30349
32    30350
33    30354
Name: Zip Codes, dtype: int64

In [162]:
#ZipList=["30004","30005","30009"]

df=pd.DataFrame()

for ZC in ZipList:
    #loop through and pull the last line from each API Call
    # ******* Does the API Calls
    stats=[]
    for item in Codes:
        this_code="ZILLOW/Z"+str(ZC)+item
        try:
            temp = quandl.get(this_code)
            final = temp['Value'].size
            test = temp.Value[temp['Value'].size-1]
        except:
            test = np.nan
        stats.append(test)
        #print(this_code)
    df[ZC]=stats

In [163]:
df

,30004,30005,30009,30022,30075,30076,30097,30213,30268,30291,...,30327,30328,30331,30336,30337,30342,30344,30349,30350,30354
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,1617.000000,1692.000000,1663.000000,1637.000000,1787.000000,1594.00000,1589.000000,1288.000000,1211.000000,1175.000000,...,1950.000000,1801.000000,1245.000000,1342.000000,1243.000000,1829.000000,1170.000000,1213.000000,1538.000000,1250.000000
133,0.958000,0.878000,1.036000,0.930000,0.972000,0.97200,0.852000,0.702000,0.830000,0.750000,...,1.580000,1.170000,0.816000,NaN,0.860000,1.442000,0.870000,0.732000,1.022000,0.982000
134,1478.000000,1560.000000,1518.000000,1473.000000,1409.000000,1425.00000,1545.000000,1117.000000,891.000000,1090.000000,...,1615.000000,1610.000000,1226.000000,1427.000000,1279.000000,1590.000000,1037.000000,1057.000000,1411.000000,1099.000000
135,2459.000000,2520.000000,2056.000000,2487.000000,2457.000000,2182.00000,2495.000000,1445.000000,1341.000000,1301.000000,...,6168.000000,2848.000000,1374.000000,NaN,1339.000000,3916.000000,1196.000000,1263.000000,3186.000000,1128.000000
136,0.019457,0.089711,0.049139,0.004287,0.008979,0.01144,0.032577,0.088213,0.076863,0.090909,...,-0.062718,0.014712,0.050074,-0.032571,-0.016487,0.019922,0.030864,0.077049,0.045889,0.068817

In [164]:
df2=df
df2['Titles']=Category
df2.set_index('Titles',inplace=True)
df2

,30004,30005,30009,30022,30075,30076,30097,30213,30268,30291,...,30327,30328,30331,30336,30337,30342,30344,30349,30350,30354
Titles,,,,,,,,,,,,,,,,,,,,,
Age of Inventory (Public),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Buyer Seller Index Cross MSA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Buyer Seller Index Cross Time MSA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Days on Zillow MSA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Days on Zillow (Public),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zillow Rental Index - All Homes Plus Multi-Family,1617.000000,1692.000000,1663.000000,1637.000000,1787.000000,1594.00000,1589.000000,1288.000000,1211.000000,1175.000000,...,1950.000000,1801.000000,1245.000000,1342.000000,1243.000000,1829.000000,1170.000000,1213.000000,1538.000000,1250.000000
Zillow Rental Index Per Square Foot - All Homes,0.958000,0.878000,1.036000,0.930000,0.972000,0.97200,0.852000,0.702000,0.830000,0.750000,...,1.580000,1.170000,0.816000,NaN,0.860000,1.442000,0.870000,0.732000,1.022000,0.982000
Zillow Rental Index - Multi-Family Residence,1478.000000,1560.000000,1518.000000,1473.000000,1409.000000,1425.00000,1545.000000,1117.000000,891.000000,1090.000000,...,1615.000000,1610.000000,1226.000000,1427.000000,1279.000000,1590.000000,1037.000000,1057.000000,1411.000000,1099.000000
Zillow Rental Index - Single-Family Residence,2459.000000,2520.000000,2056.000000,2487.000000,2457.000000,2182.00000,2495.000000,1445.000000,1341.000000,1301.000000,...,6168.000000,2848.000000,1374.000000,NaN,1339.000000,3916.000000,1196.000000,1263.000000,3186.000000,1128.000000
ZRI - Top Tier YOY,0.019457,0.089711,0.049139,0.004287,0.008979,0.01144,0.032577,0.088213,0.076863,0.090909,...,-0.062718,0.014712,0.050074,-0.032571,-0.016487,0.019922,0.030864,0.077049,0.045889,0.068817

In [148]:
#Rental Price Per Square Foot
#df2.to_csv("output/FultonRental.csv", encoding="utf-8", index=True, header=True)

In [153]:
#Listing Price Per Square Foot
#df2.to_csv("output/FultonListings.csv", encoding="utf-8", index=True, header=True)

In [165]:
#Set of interesting categories
df2.to_csv("output/Fulton All Categories.csv", encoding="utf-8", index=True, header=True)